.friend {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    &__image {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: grey;
    }
}