.page-profile {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__container {
        display: flex;
    }

    &__nav {
        width: 164px;
        display: flex;
        flex-direction: column;
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 20px;
    }

    &__sub-content {
        display: flex;
    }

    &__background {
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 100%;
        background-color: rgb(37, 36, 36);

        &-content {
            position: relative;
            display: flex;
            align-items: center;
            height: 150px;
            padding: 20px;
        }

        &-avatar {
            position: absolute!important;
            top: -50px!important;
        }

        &-wrap {
            display: flex;
            align-items: center;
            overflow: hidden;
        }

        &-img {
            width: 100%;
        }
    }

    &__user {

        &-wrap {
            margin-left: 100px;
        }
        &-title {
            font-size: 28px;
        }

    }

    &__action {
        margin-left: auto!important;
    }

    &__posts {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
}