.page-profile {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__container {
        display: flex;
    }

    &__nav {
        width: 164px;
        display: flex;
        flex-direction: column;
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 20px;
    }

    &__sub-content {
        display: flex;
    }

    &__background {
        height: 321px;
        width: 100%;
        background-color: grey;

        &-content {
            display: flex;
            align-items: center;
        }

        &-wrap {
            display: flex;
            align-items: center;
            height: 210px;
            overflow: hidden;
        }

        &-img {
            width: 100%;
        }
    }

    &__user-title {
        font-size: 28px;
    }

    &__action {
        margin-left: auto!important;
    }

    &__posts {
        width: 100%;
        background-color: green;
    }
}