.component-header {
    background-color: #fff;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 2px #303639;


    &__container {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__wrap{
        width: 136px;
        height: 24px;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 10px;

        &-img {
            height: 32px; 
        }

        &-text {
            color: #000;
        }
        
    }

    &__search{
        width: 245px;
        height: 32px;
    }
    
    .music{
        width: 423px;
        height: 48px;
    }

    &__avatar {
        margin-left: auto!important;
    }
}
