.component-register-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 320px;
    padding: 32px 24px;
    border-radius: 8px;
    background-color: rgb(184, 182, 182);

    &__title {
        font-size: 34px;
    }

    &__actions {
        display: flex;
        gap: 30px;
    }

    &__modal {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 30px;
    }

}