

.products {
    display: flex;

    .product-card {
        margin-right: 50px;
    }
}

.friends {
    display: flex;
    gap: 20px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}