body {
    background-color:#edeef0;
    color: #000;
}

.products {
    display: flex;

    .product-card {
        margin-right: 50px;
    }
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
